
@{
    ViewBag.PageName = "Hakkımızda";
}

    <div class="container w-75 mx-auto mt-5">
        <h3 class="text-center">CodeBlog Hakkında</h3>
        <hr />
        <p align="justify">
            CodeBlog 2019 sonlarında bir araya gelmiş bir grup geliştirici tarafından yapılan sektörel analiz ve ön çalışma sonucunda ortaya çıkmış bir projedir.
        </p>
        <p align="justify">
            Bu projenin temel amacı, yazılım dünyasının en önemli eksiklerinden biri olan eğitim konusunda sektöre yön vermektir. CodeBlog editörlerinin öncelikli misyonu empati çerçevesinde, bu sektöre yeni girmiş kişilere ve onların karşılaştığı problemlere cevap olmaktır.
        </p>
        <p align="justify">
            Yazılarımızın yetersiz kaldığı noktada editörlerimiz ile gerek yorumlar, gerek sitemiz iletişim bölümünden irtibata geçip yardım isteyebilirsiniz. Çünkü bizler her bir okurumuzu kendi öğrencilerimiz yerine koyar ve bu doğrultuda akıllarındaki soru işaretlerine cevap bulmak için çabalarız. 
        </p>
        <p>Çünkü biliriz ki <b class="text-uppercase">bilgi paylaştıkça çoğalır.</b></p>

    </div>
