
@{
    ViewBag.PageName = "İletişim";
}

    <div class="container w-75 mx-auto my-5 py-5">
        <h1 class="text-center"><i class="icon icon-warning text-danger"></i></h1>
        <h1 class="text-center">ÜZGÜNÜZ!</h1>
        <h6 class="text-center">Mesajınız gönderilirken bir hata oluştu. Lütfen tekrar deneyiniz. Eğer sorun devam ederse bize telefon numaramız ya da email aracılığı ile ulaşabilirsiniz. </h6>
        <hr />
        <a href="/" style="z-index:-1; position:relative"><h4 class="text-center"><i class="icon icon-home text-success"></i> Anasayfaya dön</h4></a>
    </div>
   

