
@{
    ViewBag.PageName = "İletişim";
}

    <div class="container my-5 py-5 mx-auto w-75">
        <h1 class="text-center"><i class="icon icon-check text-success"></i></h1>
        <h1 class="text-center">TEŞEKKÜRLER!</h1>
        <h3 class="text-center">Mesajınız başarıyla bize ulaştı. En kısa sürede sizinle iletişime geçeceğiz. </h3>
        <hr />
        <a href="/" style="z-index:-1; position:relative"><h4 class="text-center"><i class="icon icon-home text-success"></i> Anasayfaya dön</h4></a>
    </div>
    
