@model LoginViewModel
@{
    ViewBag.Title = "Login";
    ViewBag.PageName = "Giriş Yap";
}

@section Styles{
    <link href="~/Content/css/login.css" rel="stylesheet" />
}

<div class="container login-container w-50 mx-auto">
    <div class="row">
        <div class="col-md-12 login-form-2">
            <h3>Giriş Yap</h3>
            <style>
                .validation-summary-errors{
                    color:#ffc107;
                }
            </style>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <div class="form-group">
                    <input type="text" required class="form-control" placeholder="Email *" name="LoginDto.Email" value="" />
                </div>
                <div class="form-group">
                    <input type="password" required class="form-control" placeholder="Şifre *" name="LoginDto.Password" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" name="LoginDto.PasswordConfirm" required class="btnSubmit btn-block" value="Giriş" />

                    <input type="hidden" name="From" value="@LoginFrom.Comment" />
                </div>
                <div class="form-group">

                    <a href="#" class="ForgetPwd" value="Login">Şifrenizi mi unuttunuz?</a>
                </div>
            }
        </div>
    </div>
</div>

