

<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="logo"><a class="navbar-brand" href="/" style="font-family:Consolas">{Code<i class="text-warning">BLOG}</i></a></h2>
                    <p>Yazılıma dair her konuda makalelere CodeBlog üzerinden erişebilir, sorularınızın cevaplarına yanıt bulabilirsiniz.</p>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Hızlı erişim</h2>
                    <ul class="list-unstyled">
                        <li><a href="/" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Anasayfa</a></li>
                        <li><a href="/hakkimizda" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Hakkımızda</a></li>
                        <li><a href="/iletisim" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>İletişim</a></li>
                        <li><a href="/kayit-ol" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Kayıt Ol</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Sorularınız mı var?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><a href="tel:+905334755770"><span class="icon icon-phone"></span><span class="text">0533 475 5770</span></a></li>
                            <li><a href="mailto:info@codeblog.com"><span class="icon icon-envelope"></span><span class="text">info@codeblog.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    CodeBlog &copy;
                    <script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>
